h1 {
  color: #F3F9FB;
  font-family: "Sniglet";
  font-weight: bold;
  font-size: 7rem;
  margin: 50px;
}

h2 {
  color: #F3F9FB;
  font-family: "Sniglet";
}

img {
  height: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  background-color: #113F67;
}

footer {
  color: #F3F9FB;
  text-align: center;
  font-family: "Sniglet";
  padding-top: 50px;
}

.cat {
  height: 250px;
  padding-bottom: 60px;
}

.catfood {
  display: inline-block;
}

.container {
  text-align: center;
}

.meowgies {
  height: 50px;
  width: 50px;
  background-color: cornsilk;
  border: 2px solid grey;
  box-shadow: 1px 0px 7px 3px rgba(0,0,0,.8);
  border-radius: 50%;
  position: fixed;
  top: 100px;
  left: 100px;
}

#scoreboard {
  position: fixed;
  top: 9%;
  left: 80%;
}

#button {
  font-family: "Sniglet";
}
